<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flask App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-left">
        <a href="/"><button class="nav-button">Home</button></a>
      </div>
      <div class="nav-right">
        <button class="nav-button">Adherence Assistant</button>
        <a href="/expiry-date-checker"
          ><button class="nav-button">Expiry Date Checker</button></a
        >
        <button class="nav-button">Prescription Reader</button>
      </div>
    </nav>

    <div class="content">
      <h1 class="main-title">Expiry Date Checker</h1>
      <h3 class="sub-title">Workflow</h3>
      <img
        src="{{ url_for('static', filename='images/expiry_workflow.png') }}"
        alt="Workflow Image"
        class="workflow-image"
      />
    </div>

    <div class="content">
      <h3 class="sub-title">Demo Application</h3>
      <form
        action="/expiry-date-checker"
        method="POST"
        enctype="multipart/form-data"
        class="upload-form"
      >
        <input type="file" name="image" accept="image/*" class="upload-input" />
        <button type="submit" class="upload-button">Upload Image</button>
      </form>

      {% if uploaded_image %}
      <div class="uploaded-section">
        <h4>Uploaded Image:</h4>
        <img
          src="{{ url_for('static', filename='uploads/' + uploaded_image) }}"
          alt="Uploaded Image"
          class="uploaded-image"
        />
      </div>
      {% endif %} {% if result_image %}
      <div class="uploaded-section">
        <h4>Detection Results</h4>
        <img
          src="{{ url_for('static', filename='uploads/' + result_image) }}"
          alt="Detection Result"
          class="uploaded-image"
        />
      </div>
      {% endif %} {% if extracted_dates %}
      <div class="uploaded-section">
        <h4>Extracted Dates (Raw):</h4>
        <ul>
          {% for d in extracted_dates %}
          <li>{{ d }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} {% if standardized_dates %}
      <div class="uploaded-section">
        <h4>Standardized Dates:</h4>
        <ul>
          {% for d in standardized_dates %}
          <li>{{ d }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} {% if final_date %}
      <div class="uploaded-section">
        <h4>Final Expiry Date:</h4>
        <div style="font-size: 1.3rem; font-weight: bold; color: #2980b9">
          {{ final_date }}
        </div>
      </div>
      {% endif %}
    </div>
    <!-- Footer -->
    <footer class="site-footer">
      <p>&copy; 2025 | All Rights Reserved | Powered by AI in Healthcare</p>
    </footer>
  </body>
</html>
