<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CureCue</title>
    <link href="https://fonts.googleapis.com/css?family=Inter:400,600,700|Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/x-icon" href="static\images\logo.png">
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="/"> <img src="static\images\logo.png" alt="CureCue Logo" height="60">CureCue</a>
        </div>
        <div class="nav-links">
          <a href="/adherence-assistant" class="nav-link">Adherence Assistant</a>
          <a href="/expiry-date-reader" class="nav-link">Expiry Date Reader</a>
        </div>
      </div>
    </nav>

    <header class="hero-carousel">
      <div class="hero-overlay"></div>
      <div class="hero-content">
        <h1 class="hero-title">Revolutionizing AI in Healthcare</h1>
        <p class="hero-description">
          Experience state-of-the-art tools designed to enhance patient care and streamline healthcare services.
        </p>
      </div>
    </header>

    <main>
      <section class="content-section">
        <div class="content-container">
          <h2 class="section-heading">Our Innovative Solutions</h2>
          <p class="section-text">
            Our suite of intelligent tools harnesses cutting-edge technology to fundamentally transform the landscape of patient care. We've developed a comprehensive range of products, each meticulously designed to elevate the standards of healthcare delivery. For instance, our Expiry Date Checker is an indispensable tool that proactively ensures medication safety, virtually eliminating the risks associated with administering expired pharmaceuticals. Similarly, the Adherence Assistant plays a crucial role in promoting prescription accuracy and patient compliance, thereby optimizing treatment outcomes. Every product within our portfolio is a testament to our unwavering commitment to excellence in healthcare, offering innovative solutions that empower healthcare professionals and ultimately lead to enhanced well-being for patients.
          </p>
        </div>
      </section>

          <!-- Key Features Section -->
    <section class="features-section">
      <div class="content-container">
        <h2 class="section-heading">Key Features</h2>
        <div class="features-cards">
          <div class="feature-card">
            <img src="{{ url_for('static', filename='images/adherence.png') }}" alt="Adherence Assistant" class="feature-image">
            <h3 class="feature-title"><a href="/adherence-assistant">Adherence Assistant</a></h3>
            <p class="feature-description">
              Streamline medication schedules and ensure prescription compliance with our intelligent Adherence Assistant.
            </p>
          </div>
          <div class="feature-card">
            <img src="{{ url_for('static', filename='images/expiry.png') }}" alt="Expiry Date Checker" class="feature-image">
            <h3 class="feature-title"><a href="/expiry-date-reader">Expiry Date Checker</a></h3>
            <p class="feature-description">
              Proactively detect expired medications to ensure safety and reliability in healthcare delivery.
            </p>
          </div>
        </div>
      </div>
    </section>

      <section class="about-section">
        <h2 class="section-heading">About Us</h2>
        <div class="team-members-vertical">
          <div class="team-member-row">
            <div class="team-member-image">
              <img src="{{ url_for('static', filename='images/puneet.JPG') }}" alt="Team Member 1" class="team-photo"/>
            </div>
            <div class="team-member-info">
              <h3 class="team-name">Puneet</h3>
              <p class="team-role">BS Graduate, 4 Yrs+ IT Experience, Research Scholar @ IITM</p>
              <p class="team-description">Led the team and developed the web application. He was instrumental in guiding the entire project from conception to development. His leadership was crucial in defining the strategic direction, fostering collaborative efforts among team members and ensuring seamless integration of all components.</p>
            </div>
          </div>
          
          <div class="team-member-row reverse">
            <div class="team-member-image">
              <img src="{{ url_for('static', filename='images/pranshu.jpg') }}" alt="Team Member 2" class="team-photo"/>
            </div>
            <div class="team-member-info">
              <h3 class="team-name">Pranshu Jaiswal</h3>
              <p class="team-role">Final Year Undergrad, Works at Fintech @ IITM Research Park</p>
              <p class="team-description">Worked on the Expiry Date Reader and Medicine Name module. He was responsible for the in-depth development and rigorous testing of critical components, focusing on implementing advanced optical character recognition (OCR) capabilities. He was also responsible for coming up with workflows of the components.</p>
            </div>
          </div>
          
          <div class="team-member-row">
            <div class="team-member-image">
              <img src="{{ url_for('static', filename='images/saransh.jpg') }}" alt="Team Member 3" class="team-photo"/>
            </div>
            <div class="team-member-info">
              <h3 class="team-name">Saransh Saini</h3>
              <p class="team-role">Pre-final Year Undergrad, TA for TDS Course @ IITM</p>
              <p class="team-description">Dedicated to improving patient outcomes, he was the primary force behind the Adherence Assistant module and the development of the accompanying mobile application. He was also responsible for building the speech module which is a critical component in the Adherence Module.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="app-section">
        <div class="app-image">
          <img src="{{ url_for('static', filename='images/qr_code.png') }}" alt="QR Code for App Download" />
        </div>
        <div class="app-info">
          <h2>Get the App Today!</h2>
          <p>
            Unlock the full potential of our AI-driven healthcare suite. From sophisticated expiry checks to dynamic medication assistance, experience next-level healthcare solutions for free.
          </p>
        </div>
      </section>
    </main>

    <footer class="site-footer">
      <div class="footer-container">
        <p>&copy; 2025 | All Rights Reserved | Powered by CureCue</p>
      </div>
    </footer>

    <script>
      const heroImages = [
        "{{ url_for('static', filename='images/1.jpg') }}",
        "{{ url_for('static', filename='images/2.jpg') }}",
        "{{ url_for('static', filename='images/3.jpg') }}",
        "{{ url_for('static', filename='images/4.jpeg') }}",
        "{{ url_for('static', filename='images/5.jpeg') }}",
        "{{ url_for('static', filename='images/6.jpg') }}"
      ];
      
      let currentHeroIndex = 0;
      const heroBanner = document.querySelector('.hero-carousel');

      function changeHeroBackground() {
        currentHeroIndex = (currentHeroIndex + 1) % heroImages.length;
        heroBanner.style.backgroundImage = `url('${heroImages[currentHeroIndex]}')`;
      }

      heroBanner.style.backgroundImage = `url('${heroImages[currentHeroIndex]}')`;
      setInterval(changeHeroBackground, 4000);
    </script>
  </body>
</html>